.consultaTitulo {
  text-align: center; }

#grillaContacto {
  display: grid;
  grid-template-areas: "h1" "contacto" "formulario" "footer";
  grid-template-rows: 100px 500px auto;
  grid-template-columns: 100%;
  height: 100vh;
  margin: 0;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem; }
  #grillaContacto header {
    grid-area: h1; }
  #grillaContacto section div div div h1.consultaTitulo {
    grid-area: contacto;
    padding: 1% 10% 1% 35%;
    font-size: 36px;
    margin: 1%; }
  #grillaContacto form.formulario {
    grid-area: formulario;
    padding: 2% !important;
    border: solid 8px rgba(143, 193, 206, 0.822);
    margin: 2%;
    margin-top: 6%;
    margin-left: 16%;
    border-radius: 5%;
    background-color: rgba(230, 159, 93, 0.89);
    width: 70%;
    align-items: center;
    justify-content: center; }
  #grillaContacto #footerContacto {
    grid-area: footer; }

@media only screen and (max-width: 360px) {
  #grillaContacto {
    display: grid;
    grid-template-areas: "contacto" "formulario" "footer";
    grid-template-rows: 70px 500px auto;
    grid-template-columns: 100%;
    height: 100vh;
    margin: 0;
    grid-column-gap: 0rem;
    grid-row-gap: 0rem; }
    #grillaContacto div h1.consultaTitulo {
      grid-area: contacto;
      padding: 0%;
      position: relative;
      padding-top: 4%;
      font-size: 28px; }
    #grillaContacto form.formulario {
      grid-area: formulario;
      width: 74%;
      font-size: 14px;
      margin-top: 16%; }
    #grillaContacto #footerContacto {
      grid-area: footer; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #grillaContacto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 650px 100px;
    grid-template-areas: "contacto" "formulario" "footer";
    grid-column-gap: 20px; }
    #grillaContacto div h1.consultaTitulo {
      grid-area: contacto;
      padding: 0%;
      position: relative;
      margin-top: 4%;
      font-size: 50px; }
    #grillaContacto form.formulario {
      grid-area: formulario;
      width: 74%;
      font-size: 30px;
      margin-top: 8%; }
    #grillaContacto #footerContacto {
      grid-area: footer; } }

#grillaObraDigital {
  display: grid;
  grid-template-areas: "img1D img2D " "img3D  ." "footer footer";
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, 720px) auto;
  grid-column-gap: 1.25rem;
  grid-row-gap: 0.625rem;
  height: 100vh;
  margin: 0; }
  #grillaObraDigital .img1D {
    grid-area: img1D;
    width: 80%;
    padding: 8%; }
    #grillaObraDigital .img1D img {
      max-width: 100%; }
    #grillaObraDigital .img1D table {
      width: 100%; }
  #grillaObraDigital .img2D {
    grid-area: img2D;
    width: 80%;
    padding: 8%; }
    #grillaObraDigital .img2D img {
      max-width: 100%; }
    #grillaObraDigital .img2D table {
      width: 100%; }
  #grillaObraDigital .img3D {
    grid-area: img3D;
    width: 80%;
    padding: 8%; }
    #grillaObraDigital .img3D img {
      max-width: 100%; }
    #grillaObraDigital .img3D table {
      width: 100%; }
  #grillaObraDigital footer {
    grid-area: footer; }
    #grillaObraDigital footer .footerObraOleo {
      grid-area: footer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "Montserrat", Sans-serif;
      font-size: 0.9375rem;
      margin-top: 45%; }

@media only screen and (max-width: 360px) {
  #grillaObraDigital {
    display: grid;
    grid-template-areas: "img1D" "img2D" "img3D" "footer";
    grid-template-rows: repeat(3, 500px) auto;
    grid-template-columns: 100%;
    height: 100vh;
    margin: 0;
    grid-column-gap: 0rem;
    grid-row-gap: 0rem; }
  .img1D {
    width: 100% !important;
    text-align: center;
    justify-self: center; }
  .img2D {
    width: 100% !important;
    text-align: center;
    justify-self: center; }
  .img3D {
    width: 100% !important;
    text-align: center;
    justify-self: center; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #grillaObraDigital {
    display: grid;
    grid-template-areas: "img1D img2D " "img3D  ." "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, 600px) auto;
    grid-column-gap: 1.25rem;
    grid-row-gap: 0.625rem;
    height: 100vh;
    margin: 0; }
    #grillaObraDigital .img1D {
      grid-area: img1D;
      width: 80%;
      padding: 8%; }
      #grillaObraDigital .img1D img {
        max-width: 100%; }
      #grillaObraDigital .img1D table {
        width: 100%; }
    #grillaObraDigital .img2D {
      grid-area: img2D;
      width: 80%;
      padding: 8%; }
      #grillaObraDigital .img2D img {
        max-width: 100%; }
      #grillaObraDigital .img2D table {
        width: 100%; }
    #grillaObraDigital .img3D {
      grid-area: img3D;
      width: 80%;
      padding: 8%; }
      #grillaObraDigital .img3D img {
        max-width: 100%; }
      #grillaObraDigital .img3D table {
        width: 100%; }
    #grillaObraDigital footer {
      grid-area: footer; }
      #grillaObraDigital footer .footerObraOleo {
        grid-area: footer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Montserrat", Sans-serif;
        font-size: 0.9375rem;
        margin-top: 45%; } }

.obraEncabezado {
  grid-area: titulo;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 2%;
  padding: 0%; }

h3 {
  margin-left: 5%; }

.heightNav {
  height: 90px; }

#grillaObraOleo {
  display: grid;
  grid-template-areas: "img1 img2 " "img3 img4 " "img5 img6 " "img7 img8" "img9 img10" "footer1 footer1";
  grid-template-columns: 50% 50%;
  grid-template-rows: 700px 700px 700px 700px 700px auto;
  grid-column-gap: 1.25rem;
  grid-row-gap: 0.625rem;
  height: 100vh;
  margin: 0; }
  #grillaObraOleo .img1 {
    grid-area: img1;
    width: 80%;
    padding: 8%; }
    #grillaObraOleo .img1 img {
      max-width: 100%; }
    #grillaObraOleo .img1 table {
      width: 100%; }
  #grillaObraOleo .img2 {
    grid-area: img2;
    width: 80%;
    padding: 8%; }
    #grillaObraOleo .img2 img {
      max-width: 100%; }
    #grillaObraOleo .img2 table {
      width: 100%; }
  #grillaObraOleo .img3 {
    grid-area: img3;
    width: 80%;
    padding: 8%; }
    #grillaObraOleo .img3 img {
      max-width: 100%; }
    #grillaObraOleo .img3 table {
      width: 100%; }
  #grillaObraOleo .img4 {
    grid-area: img4;
    width: 80%;
    padding: 8%; }
    #grillaObraOleo .img4 img {
      max-width: 100%; }
    #grillaObraOleo .img4 table {
      width: 100%; }
  #grillaObraOleo .img5 {
    grid-area: img5;
    width: 80%;
    padding: 8%; }
    #grillaObraOleo .img5 img {
      max-width: 100%; }
    #grillaObraOleo .img5 table {
      width: 100%; }
  #grillaObraOleo .img6 {
    grid-area: img6;
    width: 80%;
    padding: 8%; }
    #grillaObraOleo .img6 img {
      max-width: 100%; }
    #grillaObraOleo .img6 table {
      width: 100%; }
  #grillaObraOleo .img7 {
    grid-area: img7;
    width: 80%;
    padding: 8%; }
    #grillaObraOleo .img7 img {
      max-width: 100%; }
    #grillaObraOleo .img7 table {
      width: 100%; }
  #grillaObraOleo .img8 {
    grid-area: img8;
    width: 80%;
    padding: 8%; }
    #grillaObraOleo .img8 img {
      max-width: 100%; }
    #grillaObraOleo .img8 table {
      width: 100%; }
  #grillaObraOleo .img9 {
    grid-area: img9;
    width: 80%;
    padding: 8%; }
    #grillaObraOleo .img9 img {
      max-width: 100%; }
    #grillaObraOleo .img9 table {
      width: 100%; }
  #grillaObraOleo .img10 {
    grid-area: img10;
    width: 80%;
    padding: 8%; }
    #grillaObraOleo .img10 img {
      max-width: 100%; }
    #grillaObraOleo .img10 table {
      width: 100%; }
  #grillaObraOleo footer.footer {
    grid-area: footer1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", Sans-serif;
    background-color: rgba(143, 193, 206, 0.822);
    margin-top: 5%;
    align-items: center;
    padding-top: 0%; }

@media only screen and (max-width: 360px) {
  #grillaObraOleo {
    display: grid;
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6" "img7" "img8" "img9" "img10" "footer";
    grid-template-rows: repeat(10, 500px) auto;
    grid-template-columns: 100%;
    height: 100vh;
    margin: 0;
    grid-column-gap: 0rem;
    grid-row-gap: 0rem; }
    #grillaObraOleo .img1 {
      grid-area: img1;
      width: 100%;
      text-align: center; }
    #grillaObraOleo .img2 {
      grid-area: img2;
      text-align: center;
      width: 100%; }
    #grillaObraOleo .img3 {
      grid-area: img3;
      text-align: center;
      width: 100%; }
    #grillaObraOleo .img4 {
      grid-area: img4;
      text-align: center;
      width: 100%; }
    #grillaObraOleo .img5 {
      grid-area: img5;
      text-align: center;
      width: 100%; }
    #grillaObraOleo .img6 {
      grid-area: img6;
      text-align: center;
      width: 100%; }
    #grillaObraOleo .img7 {
      grid-area: img7;
      text-align: center;
      width: 100%; }
    #grillaObraOleo .img8 {
      grid-area: img8;
      text-align: center;
      width: 100%; }
    #grillaObraOleo .img9 {
      grid-area: img9;
      text-align: center;
      width: 100%; }
    #grillaObraOleo .img10 {
      grid-area: img10;
      text-align: center;
      width: 100%; }
    #grillaObraOleo footer.footer {
      grid-area: footer;
      text-align: center;
      width: 100%; }
  header div div div h1 {
    font-size: 2rem; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #grillaObraOleo {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(5, 500px) auto;
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6" "img7 img8" "img9 img10" "footer1 footer1";
    grid-column-gap: 20px; }
  footer.footer {
    grid-area: footer1;
    width: 100%; } }

div.container-fluid__padding {
  padding-top: 4%; }
  div.container-fluid__padding div h2.pSobreMi {
    margin-top: 25%;
    display: flex;
    justify-content: center; }
  div.container-fluid__padding div img.imgSobreMi {
    grid-area: img;
    width: 100%;
    height: 100%; }

@media only screen and (max-width: 360px) {
  #grillaSobreMi {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 450px);
    grid-template-areas: "img" "biografia";
    grid-column-gap: 20px; }
    #grillaSobreMi div img.imgSobreMi {
      grid-area: img;
      width: 100%;
      height: 100%; }
    #grillaSobreMi div.biografiaSobreMi {
      grid-area: biografia; }
      #grillaSobreMi div.biografiaSobreMi h2.pSobreMi {
        margin-top: 15%; }
      #grillaSobreMi div.biografiaSobreMi p.parrafoBiografia {
        font-size: 10px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #grillaSobreMi {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 730px;
    grid-template-areas: "img biografia";
    grid-column-gap: 20px; }
    #grillaSobreMi div.biografiaSobreMi {
      grid-area: biografia; }
      #grillaSobreMi div.biografiaSobreMi h2.pSobreMi {
        margin-top: 15%; }
      #grillaSobreMi div.biografiaSobreMi p.parrafoBiografia {
        font-size: 15px; } }

.colorBody {
  background-color: rgba(247, 241, 246, 0.863); }

.logoCompra {
  width: 100%; }

Header {
  background-color: rgba(143, 193, 206, 0.822); }
  Header div.heightNav {
    height: 90px; }
  Header div div {
    margin: .6em auto; }
    Header div div h1 {
      font-size: 4rem;
      color: #0e5f74;
      display: flex;
      justify-content: center;
      padding: 1%;
      padding-left: 12%; }
  Header div div .navbar {
    display: flex;
    justify-content: center;
    margin: .6em auto; }
  Header div div li.nav-item {
    padding-left: 1%;
    padding-right: 1%; }
  Header div div li:hover {
    display: flex;
    width: 12%;
    position: relative;
    font-size: 18px;
    background-color: rgba(230, 159, 93, 0.89);
    padding: 10px;
    white-space: nowrap;
    justify-content: center; }

.pIndex {
  display: flex;
  justify-content: center;
  padding-top: 5%; }

section div.textoProceso {
  padding: 12% 4% 8% 4%; }
  section div.textoProceso h2.indexProceso {
    display: flex;
    justify-content: center; }

footer.footer {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: "Montserrat", Sans-serif;
  background-color: rgba(143, 193, 206, 0.822);
  margin-top: 5%;
  padding-top: 0%; }
  footer.footer div h3 {
    color: #0e5f74;
    padding-top: 4%; }

div .fotosIndex {
  padding-top: 4%; }
  div .fotosIndex div .fotosIndex__margen {
    border: 6px rgba(230, 159, 93, 0.89) solid;
    margin-top: 6%;
    margin-left: 2%;
    padding: 1%; }

.fotosIndex__margen {
  border: 6px rgba(230, 159, 93, 0.89) solid;
  margin-top: 6%;
  margin-left: 2%;
  padding: 1%; }

.carousel-inner {
  margin: 1%; }

.d-block {
  max-height: 80vh; }

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  list-style: none;
  font-size: 0.9375rem;
  padding: 0;
  margin: 0;
  width: 100%; }

a {
  text-decoration: none; }

.footer__ul {
  display: flex;
  justify-content: space-around;
  padding: 2%;
  text-decoration: none;
  list-style: none; }

.footer__ul li .footerLinks {
  text-decoration: none;
  color: #445b6c; }

.footer__amor {
  color: #445b6c;
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  margin-left: 15px; }

@media only screen and (max-width: 360px) {
  #grillaIndex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px 220px;
    grid-template-areas: "carousel" "texto";
    grid-column-gap: 20px; }
    #grillaIndex .fotosIndex__margen {
      grid-area: carousel;
      width: 80%;
      margin-left: 10%; }
    #grillaIndex .textoProceso {
      grid-area: texto; }
      #grillaIndex .textoProceso p {
        font-size: 14px; } }
