.consultaTitulo {
    text-align: center;
}

form.formulario {
    padding: 2% !important;
    border: solid 8px rgba(143, 193, 206, 0.822);
    margin: 2%;
    margin-top: 6%;
    margin-left: 16%;
    border-radius: 5%;
    background-color: rgba(230, 159, 93, 0.89);
    width: 70%;
    align-items: center;
    justify-content: center;
}



//MEDIAS QUERIES CONTACTO

@media only screen and (max-width:360px) {


    div h1.consultaTitulo {
        grid-area: contacto;
        padding: 0%;
        position: relative;
        padding-top: 4%;
        font-size: 28px;
    }

    form.formulario {

        width: 100%;
        margin-left: 0%;
        margin-bottom: 8%;
    }


}


@media only screen and (min-width: 768px) and (max-width: 1024px) {

    div h1.consultaTitulo {

        padding: 0%;
        position: relative;
        margin-top: 4%;
        font-size: 50px;

    }

    form.formulario {
        font-size: 30px;
        width: 87%;
        margin: 7%
    }

    div.form-group__botones {
        text-align: center;
    }



}