.consultaTitulo {
    font-size: 36px;
    left: 2%;
    position: absolute;
    padding-top: 5%;
}

.gridTitulo {
    padding: 0% 10% 0% 35%;
    margin: 4%;
    justify-content: center;
}

#footerContacto {
    margin-top: 60%;
}

#formulario {
    display: flex;
    position: absolute;
    top: 50%;
    justify-content: center;
    padding-top: 2% !important;
    padding-bottom: 2%;
    border: solid 8px rgba(143, 193, 206, 0.822);
    margin: 0;
    border-radius: 5%;
    background-color: rgba(230, 159, 93, 0.89);
    width: 50%;
    margin-left: 12%;

}