$azul: rgba(143, 193, 206, 0.822);

.obraEncabezado {
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 2%;
    padding: 0%;
}

h3 {
    margin-left: 5%;
}


//MEDIA QUERIES DE OLEO

@media only screen and (max-width:360px) {


    footer.footer {
        grid-area: footer;
        text-align: center;
        width: 100%;
    }

    img.producto__imagen {
        width: 100%;
    }

    header div div div h1 {
        font-size: 2rem;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #grillaObraOleo {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, 500px) auto;
        grid-template-areas: "img1 img2"
            "img3 img4"
            "img5 img6"
            "img7 img8"
            "img9 img10"
            "footer1 footer1";
        grid-column-gap: 20px;
    }

    footer.footer {
        grid-area: footer1;
        width: 100%;
    }

}