$azul: rgba(143, 193, 206, 0.822);
$naranja: rgba(230, 159, 93, 0.89);

.obraEncabezado {
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 2%;
    padding: 0%;
}

h3 {
    margin-left: 5%;
}

/*BOTON CARRITO*/

.btn {
    border: 2px solid transparent;
}

section div button.btn-outline-success {
    border-color: $naranja;
    color: $naranja;
}

section div button.btn-outline-success:hover {
    background-color: $azul;
    border-color: $naranja;
    color: $naranja;
}


//MEDIA QUERIES DE OLEO

@media only screen and (max-width:360px) {


    footer.footer {
        grid-area: footer;
        text-align: center;
        width: 100%;
    }

    img.producto__imagen {
        width: 100%;
    }

    header div div div h1 {
        font-size: 2.5rem;
        text-align: center;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    section div.col {
        font-size: 20px;
    }
}