$azul: rgba(143, 193, 206, 0.822);

#grillaObraOleo {
    display: grid;
    grid-template-areas:
        "img1 img2 "
        "tabla1 tabla2"
        "img3 img4 "
        "tabla3 tabla4"
        "img5  img6 "
        "tabla5 tabla6"
        "img7 img8"
        "tabla7 tabla8"
        "footer1 footer1";
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px 120px 500px 120px 500px 120px 500px 120px 200px;
    grid-column-gap: 1.25rem;
    grid-row-gap: 0.625rem;
    height: 100vh;
    margin: 0;
}

.obraEncabezado {
    grid-area: titulo;
    margin: 2%;
    padding: 0%;
}

h1 {

    grid-area: h1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;

}




.img1 {
    grid-area: img1;
    width: 70%;
    padding: 8%;



}

.tabla1 {
    grid-area: tabla1;
    padding: 0.625rem;
    margin: 3%;
    width: 60%;
    margin-left: 6%;


}

.img2 {
    grid-area: img2;
    width: 76%;
    padding: 8%;
    width: 76%;
}

.tabla2 {
    grid-area: tabla2;
    padding: 0.625rem;
    margin: 3%;
    padding: 8%;
    margin-right: 25%;
    margin-left: 8%;

}

.img3 {
    grid-area: img3;
    width: 76%;
    padding: 10%;

}

.tabla3 {
    grid-area: tabla3;
    padding: 0.625rem;
    margin: 3%;
    width: 60%;
    margin-left: 6%;
}

.img4 {
    grid-area: img4;
    width: 66%;
    padding: 8%;
    margin-left: 16%;


}

.tabla4 {
    grid-area: tabla4;
    padding: 0.625rem;
    margin: 3%;
    width: 60%;
    margin-left: 20%;
}

.img5 {
    grid-area: img5;
    width: 70%;
    padding: 8%;
    width: 68%;


}

.tabla5 {
    grid-area: tabla5;
    padding: 0.625rem;
    margin: 3%;
    width: 60%;
    margin-left: 6%;
}

.tabla6 {
    grid-area: tabla6;
    padding: 0.625rem;
    margin: 3%;
    width: 60%;
    margin-left: 20%;

}

.img6 {
    grid-area: img6;
    width: 64%;
    padding: 8%;
    margin-left: 20%;
}

.img7 {
    grid-area: img7;
    width: 70%;
    padding: 8%;

}

.tabla7 {
    grid-area: tabla7;
    padding: 0.625rem;
    margin: 3%;
    margin-left: 6%;
    margin-right: 30%;

}

.img8 {
    grid-area: img8;
    width: 76%;
    padding: 8%;


}

.tabla8 {
    grid-area: tabla8;
    padding: 0.625rem;
    margin: 3%;
    margin-right: 20%;
    margin-left: 8%;



}

footer {
    grid-area: footer1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", Sans-serif;
    font-size: 0.9375rem;
    margin-top: 140%;
    background-color: $azul;

}




@media only screen and (max-width:360px) {
    #grillaObraOleo {
        display: grid;
        grid-template-areas: "img1 img1"
            "tabla1 tabla1"
            "img2 img2 "
            "tabla2 tabla2"
            "img3 img3"
            "tabla3 tabla3"
            "img4 img4 "
            "tabla4 tabla4"
            "img5 img5"
            "tabla5 tabla5"
            "img6 img6"
            "tabla6 tabla6"
            "img7 img7"
            "tabla7 tabla7"
            "img8 img8"
            "tabla8 tabla8"
            "footer footer";
        grid-template-rows: 300px 125px 300px 125px 300px 125px 300px 125px 300px 125px 300px 125px 300px 125px 300px 125px 20%;
        grid-template-columns: 40% 40%;
        height: 100vh;
        margin: 0;
        grid-column-gap: 0rem;
        grid-row-gap: 0rem;
    }


    .img1 {
        grid-area: img1;
        width: 85%;

    }

    .tabla1 {
        grid-area: tabla1;
        padding: 0.625rem;
        margin: 0%
    }

    .img2 {
        grid-area: img2;
        width: 100%;
    }

    .tabla2 {
        grid-area: tabla2;
        padding: 0.625rem;
        margin: 0%
    }

    .img3 {
        grid-area: img3;
        width: 90%;
    }

    .tabla3 {
        grid-area: tabla3;
        padding: 0.625rem;
        margin: 0%
    }

    .img4 {
        grid-area: img4;
        width: 80%;
    }

    .tabla4 {
        grid-area: tabla4;
        padding: 0.625rem;
        margin: 0%
    }

    .img5 {
        grid-area: img5;
        width: 90%;
    }

    .tabla5 {
        grid-area: tabla5;
        padding: 0.625rem;
        margin: 0%
    }

    .tabla6 {
        grid-area: tabla6;
        padding: 0.625rem;
        margin: 0%
    }

    .img6 {
        grid-area: img6;
        width: 80%;
    }



    .img7 {
        grid-area: img7;
        width: 85%;
    }

    .tabla7 {
        grid-area: tabla7;
        padding: 0.625rem;
        margin: 0%
    }

    .img8 {
        grid-area: img8;
        width: 90%;
    }

    .tabla8 {
        grid-area: tabla8;
        padding: 0.625rem;
        margin: 0%
    }

    footer {
        grid-area: footer;
        padding-top: 764%;
        width: 92%;

    }

    .imgLogo {
        display: none;
    }



    li {
        display: inline-block;
        width: 40%;
        position: relative;
        font-size: 12px;
        background-color: chocolate;
        padding: 30px;
    }



}

@media only screen and (min-width:360px) and (max-width: 411px) {
    #grillaObraOleo {
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: auto;
        grid-template-areas: "img1 img1"
            "tabla1 tabla1 "
            "img2 img2 "
            "tabla2 tabla2"
            "img3 img3"
            "tabla3 tabla3"
            "img4 img4"
            "tabla4 tabla4"
            "img5 img5"
            "tabla5 tabla5"
            "img6 img6"
            "tabla6 tabla6"
            "img7 img7"
            "tabla7 tabla7"
            "img8 img8"
            "tabla8 tabla8"
            "footer footer";
        grid-column-gap: 20px;
    }

    footer {
        grid-area: footer;
        padding-top: 761%;
        width: 99%;
    }

    .imgLogo {
        display: none;
    }



    .footer__amor {
        font-size: 13px;
    }


    .footer__amor--modifier:hover {
        color: #368f8b;
        font-weight: bolder;
        font-style: oblique;
        font-size: 15px;

    }
}