@import "contacto";
@import "digital";
@import "oleo";
@import "sobremi";

$anchoCompleto: 100%;
$azul: rgba(143, 193, 206, 0.822);

h1 {
    font-size: 4rem;
    color: rgb(14, 95, 116);
    display: flex;
    justify-content: center;
    padding-right: 11%;
}


.imgLogo {
    width: $anchoCompleto;
}

.colorHeader {
    background-color: rgba(143, 193, 206, 0.822);
}

.pIndex {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.fotosIndex {
    padding-top: 4%;
}

.fotosIndex__margen {
    border: 6px rgba(230, 159, 93, 0.89) solid;
    margin-top: 6%;
    margin-left: 2%;
    padding: 1%;
}

.textoProceso {
    padding: 12% 4% 8% 4%;
}


.indexProceso {
    display: flex;
    justify-content: center;
}

.colorBody {
    background-color: rgba(247, 241, 246, 0.863);
}

.carousel-inner {
    margin: 1%;
}

.d-block {
    max-height: 80vh;
}


.subrayadoInicio {
    text-decoration: none;
}


.encabezadoSaludo {
    font-size: 4.5rem;
    padding: 20px 10px;
    margin: 20px 40px;
    border: solid 5px aqua
}

.encabezadoIndex {
    padding: 25px;
    margin: 10px;
    text-align: center;
}

.footer {
    padding-top: 2%;
}


ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    list-style: none;
    font-size: 0.9375rem;
    padding: 0;
    margin: 0;
    width: $anchoCompleto;

}

a {
    text-decoration: none;
}


.obraEncabezado {
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}




.imgLogo {

    width: 90%;

}


li:hover {
    display: flex;
    width: 12%;
    position: relative;
    font-size: 18px;
    background-color: rgba(230, 159, 93, 0.89);
    padding: 10px;
    white-space: nowrap;
    justify-content: center;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", Sans-serif;
    background-color: $azul;
    margin-top: 5%;
    align-items: center;
    padding-top: 0%;


}

.footer__ul {
    display: flex;
    justify-content: space-around;
    padding: 2%;
    text-decoration: none;
    list-style: none;
}

.footer__ul li .footerLinks {

    text-decoration: none;
    color: #445b6c;
}

.footer__amor {
    color: #445b6c;
    font-family: "Montserrat", Sans-serif;
    font-size: 0.9375rem;
    margin-left: 15px;
}

.footer__amor--modifier {
    color: #368f8b;
    font-weight: bolder;
    font-style: oblique;
    font-size: 36px;
}




.container-fluid__padding {
    padding-top: 4%;
}



#formulario {
    padding-top: 12%;
}