@import "contacto";
@import "digital";
@import "oleo";
@import "sobremi";

$anchoCompleto: 100%;
$azul: rgba(143, 193, 206, 0.822);


.colorBody {
    background-color: rgba(247, 241, 246, 0.863);
}

.logoCompra {
    width: 100%;
}

Header {
    background-color: rgba(143, 193, 206, 0.822);

    div.heightNav {
        height: 90px;
    }

    div div {
        margin: .6em auto;

        h1 {
            font-size: 4rem;
            color: rgb(14, 95, 116);
            display: flex;
            justify-content: center;
            padding: 1%;
            padding-left: 12%
        }
    }

    div div {
        .navbar {
            display: flex;
            justify-content: center;
            margin: .6em auto;
        }

        li.nav-item {
            padding-left: 1%;
            padding-right: 1%;
        }

        li:hover {
            display: flex;
            width: 12%;
            position: relative;
            font-size: 18px;
            background-color: rgba(230, 159, 93, 0.89);
            padding: 10px;
            white-space: nowrap;
            justify-content: center;


        }

    }
}

.pIndex {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}



section {
    div.textoProceso {
        text-align: center;
        padding: 4% 8% 8% 2%;

    }

    h2.indexProceso {
        display: flex;
        justify-content: center;
        padding: 4%;
        text-align: center;

    }

    .videoIndex {
        text-align: center;
    }

    .centrarFotosIndex {
        justify-content: center;
        text-align: center;
        padding-left: 10%;
        padding-bottom: 5%;
    }

    .rounded {
        text-align: center;
    }

}

footer.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: "Montserrat", Sans-serif;
    background-color: $azul;
    margin-top: 5%;
    padding-top: 0%;
    height: 180px;

    div.centrarFooter {
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: 1% 8%;
    }

    div h3 {
        color: rgb(14, 95, 116);
        padding-top: 4%;
        text-align: center;
    }

    div.copy {
        padding: 3px;
        margin: 0;
        text-align: center;
        border-top: solid 2px white;
        width: 100%;
    }
}

div.paddingTop {
    padding-top: 10%;

    div.fotosIndex {
        padding: 6%;

        div.fotosIndex__margen {
            border: 6px rgba(230, 159, 93, 0.89) solid;
            margin-top: 6%;
            margin-left: 15%;
            padding: 1%;
            max-width: 70%;
        }

    }
}



.carousel-inner {
    margin: 1%;
}

.d-block {
    max-height: 80vh;
}


ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    list-style: none;
    font-size: 0.9375rem;
    padding: 0;
    margin: 0;
    width: $anchoCompleto;

}

a {
    text-decoration: none;
}




.footer__ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
    text-decoration: none;
    list-style: none;
}

.footer__ul li .footerLinks {
    text-decoration: none;
    color: #445b6c;
}

.footer__amor {
    color: #445b6c;
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    margin-left: 15px;
}



//MEDIA QUERY INDEX

@media only screen and (max-width:360px) {
    .boxVideo {
        width: 90%;
        height: 90%;
    }

    header {
        div.heightNav {
            height: auto;
        }

        .logoCompra {
            text-align: center;
        }
    }

    section .centrarFotosIndex {
        padding-top: 0%;
    }

    footer.footer {
        height: auto;
    }

}