@import "contacto";
@import "digital";
@import "oleo";
@import "sobremi";

$anchoCompleto: 100%;
$azul: rgba(143, 193, 206, 0.822);


.colorBody {
    background-color: rgba(247, 241, 246, 0.863);
}

.logoCompra {
    width: 100%;
}

Header {
    background-color: rgba(143, 193, 206, 0.822);

    div.heightNav {
        height: 90px;
    }

    div div {
        margin: .6em auto;

        h1 {
            font-size: 4rem;
            color: rgb(14, 95, 116);
            display: flex;
            justify-content: center;
            padding: 1%;
            padding-left: 12%
        }
    }

    div div {
        .navbar {
            display: flex;
            justify-content: center;
            margin: .6em auto;
        }

        li.nav-item {
            padding-left: 1%;
            padding-right: 1%;
        }

        li:hover {
            display: flex;
            width: 12%;
            position: relative;
            font-size: 18px;
            background-color: rgba(230, 159, 93, 0.89);
            padding: 10px;
            white-space: nowrap;
            justify-content: center;


        }

    }
}

.pIndex {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

section {
    div.textoProceso {

        padding: 12% 4% 8% 4%;


        h2.indexProceso {
            display: flex;
            justify-content: center;
        }

    }
}

footer.footer {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: "Montserrat", Sans-serif;
    background-color: $azul;
    margin-top: 5%;
    padding-top: 0%;

    div h3 {
        color: rgb(14, 95, 116);
        padding-top: 4%;
    }

}

div .fotosIndex {
    padding-top: 4%;

    div .fotosIndex__margen {
        border: 6px rgba(230, 159, 93, 0.89) solid;
        margin-top: 6%;
        margin-left: 2%;
        padding: 1%;
    }

}

.fotosIndex__margen {
    border: 6px rgba(230, 159, 93, 0.89) solid;
    margin-top: 6%;
    margin-left: 2%;
    padding: 1%;
}

.carousel-inner {
    margin: 1%;
}

.d-block {
    max-height: 80vh;
}


ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    list-style: none;
    font-size: 0.9375rem;
    padding: 0;
    margin: 0;
    width: $anchoCompleto;

}

a {
    text-decoration: none;
}




.footer__ul {
    display: flex;
    justify-content: space-around;
    padding: 2%;
    text-decoration: none;
    list-style: none;
}

.footer__ul li .footerLinks {
    text-decoration: none;
    color: #445b6c;
}

.footer__amor {
    color: #445b6c;
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    margin-left: 15px;
}



//MEDIA QUERY INDEX

@media only screen and (max-width:360px) {
    #grillaIndex {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 400px 220px;
        grid-template-areas:
            "carousel"
            "texto"
        ;
        grid-column-gap: 20px;

        .fotosIndex__margen {
            grid-area: carousel;
            width: 80%;
            margin-left: 10%;
        }

        .textoProceso {
            grid-area: texto;

            p {
                font-size: 14px;
            }
        }
    }
}