<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Arte Cordoba Amira Ahumada obras en oleo fotografia">
    <meta name="description"
        content="Estas son mis obras realizadas en oleo inspirada en fotos sacados por mi en diferentes partes del mundo">

    <title>OBRAS EN OLEO - Amira Ahumada</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../bootstrap-4.6.0-dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="../css/estilo.css">
</head>

<body class="colorBody">
    <header class="colorHeader">

        <div class="container-fluid ">

            <div class="row ">
                <div class="col-lg-1 col-sm-0">

                </div>
                <div class="col-lg-11 col-sm-12">
                    <H1 class="tamanio-3">Amira Ahumada</H1>
                </div>
            </div>
        </div>


        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-mio">
                        <a class="navbar-brand" href="#"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active"><a class="nav-link" href="../index.html">INICIO<span
                                            class="sr-only"></span></a></li>
                                <li class="nav-item"><a class="nav-link" href="./sobremi.html">SOBRE MI</a></li>
                                <li class=" nav-item"><a class="nav-link" href="#">OBRAS EN OLEO</a></li>
                                <li class="nav-item"><a class="nav-link" href="./obrasdigitales.html">OBRAS
                                        DIGITALES</a></li>
                                <li class="nav-item"><a class="nav-link" href="./contacto.html">CONTACTO</a> </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <h2 class="obraEncabezado oleo tamanio-2">OBRAS EN OLEO</h2>
    <section id="grillaObraOleo">
        <img data-aos="fade-right" src="../assets/img/WhatsApp Image 2021-04-20 at 19.35.27 (1).jpeg" class="img1"
            alt="pintura">
        <table class="tabla1" border="3" cellpading="20px" cellspacing="8px">
            <tr>
                <th>Tarde luz </th>
            </tr>
            <tr>

                <th>1.4x1mts</th>

            </tr>
            <tr>

                <th>$15.000</th>

            </tr>



        </table>

        <img data-aos="fade-left" src="../assets/img/WhatsApp Image 2021-04-20 at 19.35.27.jpeg" class="img2"
            alt="pintura2">
        <table class="tabla2" border="3" cellpading="20px" cellspacing="8px">
            <tr>
                <th> Mentiras</th>
            </tr>

            <tr>
                <th>$9.000</th>

            </tr>

            <tr>
                <th>0.9x1mts</th>
            </tr>


        </table>




        <img data-aos="fade-right" src="../assets/img/WhatsApp Image 2021-04-20 at 19.35.28.jpeg" class="img3" alt="">
        <table class="tabla3" border="3" cellpading="20px" cellspacing="8px">
            <tr>
                <th>nombre </th>
            </tr>
            <tr>
                <th>Precio:</th>
            </tr>
            <tr>
                <th>medidas </th>
            </tr>
        </table>

        <img data-aos="fade-left" src="../assets/img/WhatsApp Image 2021-04-20 at 19.35.24 (1).jpeg" class="img4"
            alt="">
        <table class="tabla4" border="3" cellpading="20px" cellspacing="8px">
            <tr>
                <th>nombre </th>
            </tr>
            <tr>
                <th>Precio:</th>
            </tr>
            <tr>
                <th>medidas </th>
            </tr>
        </table>

        <img data-aos="fade-right" src="../assets/img/WhatsApp Image 2021-04-20 at 19.35.29.jpeg" class="img5" alt="">
        <table class="tabla5" border="3" cellpading="20px" cellspacing="8px">
            <tr>
                <th>nombre </th>
            </tr>
            <tr>
                <th>Precio:</th>
            </tr>
            <tr>
                <th>medidas </th>
            </tr>
        </table>

        <img data-aos="fade-left" src="../assets/img/WhatsApp Image 2021-04-20 at 19.35.25.jpeg" class="img6" alt="">
        <table class="tabla6" border="3" cellpading="20px" cellspacing="8px">
            <tr>
                <th>nombre </th>
            </tr>
            <tr>
                <th>Precio:</th>
            </tr>
            <tr>
                <th>medidas </th>
            </tr>
        </table>


        <img data-aos="fade-right" src="../assets/img/WhatsApp Image 2021-04-20 at 19.35.26 (1).jpeg" class="img7"
            alt="">
        <table class="tabla7" border="3" cellpading="20px" cellspacing="8px">
            <tr>
                <th>nombre </th>
            </tr>
            <tr>
                <th>Precio:</th>
            </tr>
            <tr>
                <th>medidas </th>
            </tr>
        </table>

        <img data-aos="fade-left" src="../assets/img/WhatsApp Image 2021-04-20 at 19.35.26.jpeg" class="img8" alt="">
        <table class="tabla8" border="3" cellpading="20px" cellspacing="8px">
            <tr>
                <th>nombre </th>
            </tr>
            <tr>
                <th>Precio:</th>
            </tr>
            <tr>
                <th>medidas </th>
            </tr>
        </table>
    </section>
</body>
<footer>
    <ul class="footer__ul">
        <li>
            <a class="footerLinks" href="https://www.instagram.com/" target="_blank">Instagram</a>
        </li>
        <li>
            <a class="footerLinks" href="https://api.whatsapp.com/send/?phone=5493516198161&text&app_absent=0/"
                target="_blank">Whatsapp</a>
        </li>
        <li>
            <a class="footerLinks" href="https://www.facebook.com/" target="_blank">Facebook</a>
        </li>
    </ul>


</footer>

</footer>
</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
</script>
</body>

</html>