<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Arte Cordoba Amira Ahumada obras en oleo fotografia">
    <meta name="description"
        content="Estas son mis obras realizadas en oleo inspirada en fotos sacados por mi en diferentes partes del mundo">
    <title>OBRAS EN OLEO - Amira Ahumada</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilo.css">
</head>

<body class="colorBody">

    <header class="colorHeader">
        <div class="container-fluid ">
            <div class="row ">
                <div class="col-lg-11 col-sm-11 ">
                    <H1>Amira Ahumada</H1>
                </div>
                <div class="col-lg-1 col-sm-1  logoCompra">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                        class="bi bi-cart2" viewBox="0 0 16 16">
                        <path
                            d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                    </svg>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-mio">
                        <a class="navbar-brand" href="#"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active"><a class="nav-link" href="../index.html">INICIO<span
                                            class="sr-only"></span></a></li>
                                <li class="nav-item"><a class="nav-link" href="./sobremi.html">SOBRE MI</a></li>
                                <li class=" nav-item"><a class="nav-link" href="#">OBRAS EN OLEO</a></li>
                                <li class="nav-item"><a class="nav-link" href="./obrasdigitales.html">OBRAS
                                        DIGITALES</a></li>
                                <li class="nav-item"><a class="nav-link" href="./contacto.html">CONTACTO</a> </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <h2 class="obraEncabezado">OBRAS EN OLEO</h2>
    <section id="grillaObraOleo">
        <div class="img1">
            <img data-aos="fade-right" src="../assets/img/obrabano.jpg" alt="obra baño">
            <table border="3" cellpading="20px" cellspacing="8px">
                <tr>
                    <th>Clausurado </th>
                </tr>
                <tr>
                    <th>$15.000</th>
                </tr>
                <tr>
                    <th>1.4x1mts</th>
                </tr>
            </table>
        </div>
        <div class="img2">
            <img data-aos="fade-left" src="../assets/img/obracuadrojesus.jpg" alt="baño jesus">
            <table border="3" cellpading="20px" cellspacing="8px">
                <tr>
                    <th>Memorias</th>
                </tr>
                <tr>
                    <th>$9.000</th>
                </tr>
                <tr>
                    <th>0.9x1mts</th>
                </tr>
            </table>
        </div>
        <div class="img3">
            <img data-aos="fade-right" src="../assets/img/obrajesus.jpg" alt="taza jesus">
            <table border="3" cellpading="20px" cellspacing="8px">
                <tr>
                    <th>Tomar y beber</th>
                </tr>
                <tr>
                    <th>$9.500</th>
                </tr>
                <tr>
                    <th>1x1mts</th>
                </tr>
            </table>
        </div>
        <div class="img4">
            <img data-aos="fade-left" src="../assets/img/obralavamanos.jpg" alt="obra lavamanos">
            <table border="3" cellpading="20px" cellspacing="8px">
                <tr>
                    <th>No lavaste </th>
                </tr>
                <tr>
                    <th>$11.000</th>
                </tr>
                <tr>
                    <th>1.8x1.5mts</th>
                </tr>
            </table>
        </div>
        <div class="img5">
            <img data-aos="fade-right" src="../assets/img/obraliving.jpg" alt="obra living">
            <table border="3" cellpading="20px" cellspacing="8px">
                <tr>
                    <th>Living</th>
                </tr>
                <tr>
                    <th>$8.000</th>
                </tr>
                <tr>
                    <th>1.3x0.9mts </th>
                </tr>
            </table>
        </div>
        <div class="img6">
            <img data-aos="fade-left" src="../assets/img/obramesa.jpg" alt="obra mesa desordenada">
            <table border="3" cellpading="20px" cellspacing="8px">
                <tr>
                    <th>Tarde de té </th>
                </tr>
                <tr>
                    <th>$7.600</th>
                </tr>
                <tr>
                    <th>0.8x0.8mts</th>
                </tr>
            </table>
        </div>
        <div class="img7">
            <img data-aos="fade-right" src="../assets/img/obramesaflores.jpg" alt="mesa con flores">
            <table border="3" cellpading="20px" cellspacing="8px">
                <tr>
                    <th>Sobre mesa</th>
                </tr>
                <tr>
                    <th>$10.400</th>
                </tr>
                <tr>
                    <th>1.20x1mts </th>
                </tr>
            </table>
        </div>
        <div class="img8">
            <img data-aos="fade-left" src="../assets/img/obrapeluqueria.jpg" alt="peluqueria">
            <table border="3" cellpading="20px" cellspacing="8px">
                <tr>
                    <th>Peluqueria del barrio </th>
                </tr>
                <tr>
                    <th>$13.000</th>
                </tr>
                <tr>
                    <th>1.8x1.4mts</th>
                </tr>
            </table>
        </div>
        <div class="img9">
            <img data-aos="fade-right" src="../assets/img/obrasilla.jpg" alt="silla">
            <table border="3" cellpading="20px" cellspacing="8px">
                <tr>
                    <th>Lo de la nona </th>
                </tr>
                <tr>
                    <th>$12.900</th>
                </tr>
                <tr>
                    <th>1.6x1.2mts</th>
                </tr>
            </table>
        </div>
        <div class="img10">
            <img data-aos="fade-left" src="../assets/img/obravicky.jpg" alt="mujer en el comedor">
            <table border="3" cellpading="20px" cellspacing="8px">
                <tr>
                    <th>Un domingo</th>
                </tr>
                <tr>
                    <th>$15.000</th>
                </tr>
                <tr>
                    <th>2.4x2mts</th>
                </tr>
            </table>
        </div>

        <footer class="footer">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-lg-3 col-sm-2">
                        <h3>Amira Ahumada</h3>
                    </div>
                    <div class="col-lg-9 col-sm-10">
                        <ul class=" footer__ul">
                            <li>
                                <a class="footerLinks" href="https://www.instagram.com/" target="_blank">Instagram</a>
                            </li>
                            <li>
                                <a class="footerLinks"
                                    href="https://api.whatsapp.com/send/?phone=5493516198161&text&app_absent=0/"
                                    target="_blank">Whatsapp</a>
                            </li>
                            <li>
                                <a class="footerLinks" href="https://www.facebook.com/" target="_blank">Facebook</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>
</body>

</html>